.about-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: var(--gap-size);
    align-items: start;
    flex-wrap: wrap;
}

.about-container > * {
    flex: 1 1 400px;
    max-width: 400px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-size);
    max-width: 480px;
}

.about-section {
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    padding: var(--gap-size);
}

.about-section h1 {
    margin: 0 0 var(--gap-size);
    color: var(--color-highlight);
}

@media (max-width: 1000px) {
    .about-container {
        grid-template-columns: 1fr;
    }
}