.about-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: var(--gap-size);
    align-items: start;
    flex-wrap: wrap;
}

.about-container > * {
    flex: 1 1 400px;
    max-width: 400px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-size);
    max-width: 480px;
}

.about-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    padding-bottom: calc(var(--gap-size) / 4);
    border-bottom: 1px dashed var(--color-border);
}

.about-header h1 {
    line-height: 1;
    margin: 0;
    color: var(--color-primary);
}

.about-header span {
    font-size: 0.8rem;
    opacity: 0.6;
    color: var(--color-highlight);
}

.about-content p {
    text-align: left;
    width: 100%;
    margin: 0;
    color: var(--color-text);
}

@media (max-width: 1000px) {
    .about-container {
        grid-template-columns: 1fr;
    }
}