.project-detail-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: var(--gap-size);
    flex-wrap: wrap;
}

.project-detail-container > * {
    flex: 1 1 400px;
    max-width: 400px;
}

.project-detail-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-size);
    max-width: 480px;
}

.project-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    line-height: 1;
    width: 100%;
    padding-bottom: calc(var(--gap-size) / 4);
    color: var(--color-highlight);
    border-bottom: 1px dashed var(--color-border);
}

.project-detail-header h1 {
    margin: 0;
    color: var(--color-primary);
}

.project-detail-header span {
    font-size: 0.8rem;
    opacity: 0.6;
}

.project-detail-header a {
    color: var(--color-primary);
    transition: scale .2s ease;
}

.project-detail-header a:hover {
    scale: 1.2
}

.project-summary {
    text-align: left;
    width: 100%;
}

.project-summary p {
    word-spacing: -2px;
    letter-spacing: -1px;
    line-height: 1.4;
    margin: 0 0 var(--gap-size);
    color: var(--color-text);
}