.project-detail-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-size);
    align-items: start;
    margin-top: 0;
}

@media (max-width: 1000px) {
    .project-detail-container {
        grid-template-columns: 1fr;
    }
}

.project-detail-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-size);
}

.project-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    line-height: 1;
    width: 100%;
    padding-bottom: calc(var(--gap-size) / 4);
    color: var(--color-highlight);
    border-bottom: 1px dashed var(--color-border);
}

.project-detail-header h1 {
    margin: 0;
    color: var(--color-primary);
}

.project-detail-header span {
    font-size: 0.9rem;
    opacity: 0.8;
}

.project-detail-header a {
    color: var(--color-primary);
    transition: scale .2s ease;
}

.project-detail-header a:hover {
    scale: 1.1;
}

.project-summary {
    text-align: left;
}

.project-summary p {
    margin: 0 0 var(--gap-size);
}