.project-card {
    min-height: 360px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: color .3s ease, border .3s ease, box-shadow .3s ease;
}

.project-card:hover {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    box-shadow: 0 4px 8px rgba(206, 66, 87, 0.4);
}