#link-to-project {
    text-decoration: none;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: var(--gap-size);
    min-height: 400px;
    padding: var(--gap-size);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: border .3s ease, box-shadow .3s ease;
}

.project-card:hover {
    border: 1px solid var(--color-primary);
}

.project-card.no-hover:hover {
    border: 1px solid var(--color-border);
    cursor: default;
}

.project-img {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex: 1;
    text-align: start;
    width: 100%;
    box-sizing: border-box;
    padding: var(--gap-size);
    border-radius: 4px;
    color: var(--color-highlight);
    background-color: var(--color-border);
    transition: transform .3s ease;
}

.project-card:hover .project-img {
    transform: scale(1.01);
}

.project-card.no-hover:hover .project-img {
    transform: none;
}

#project-title {
    font-size: 1.2rem;
    margin-bottom: var(--gap-size);
    border-bottom: 1px dashed transparent;
    transition: border-bottom .3s ease;
}

.project-card.no-hover:hover #project-title {
    border-bottom: 1px dashed transparent;
}

.project-card:hover #project-title {
    border-bottom: 1px dashed var(--color-highlight);
}

#project-about {
    font-size: 0.8rem;
    margin: 0;
}

.language-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: calc(var(--gap-size) / 2);
    color: var(--color-highlight);
}

.languages-list {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap-size) / 4);
}

#project-language {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 2px 4px;
    color: var(--color-bg);
    border-radius: 2px;
}