#link-to-project {
    text-decoration: none;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: var(--gap-size);
    min-height: 280px;
    padding: var(--gap-size);
    border-radius: 4px;
    box-shadow: var(--shadow);
    cursor: pointer;
    border: 1px solid var(--color-border);
    /* background: linear-gradient(135deg,
        var(--color-primary) 50%, 
        var(--color-secondary) 50%,
        var(--color-text) 100%);
    background-size: 200% 200%;
    background-position: 100% 50%; */
    transition: background-position 0.5s ease, border 0.3s ease;
}

.project-card:hover {
    /* background-position: 0% 50%; */
    border: 1px solid var(--color-primary);
}

.project-card.no-hover:hover {
    /* background-position: 100% 50%; */
    border: 1px solid var(--color-border);
    cursor: default;
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex: 1;
    gap: calc(var(--gap-size) * 1);
    width: 100%;
    box-sizing: border-box;
    padding: var(--gap-size);
    /* background: linear-gradient(135deg, var(--color-highlight), var(--color-secondary), var(--color-primary)); */
    border-radius: 4px;
    transition: scale 0.3s ease;
}

.project-card:hover .project-details {
    /* scale: 1.02; */
}

.project-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--gap-size) / 2);
    width: 100%;
    color: var(--color-primary);
}

.project-header h2 {
    text-align: start;
    margin: 0;
    line-height: 1;
    width: 100%;
}

#project-about {
    font-size: 0.9rem;
    text-align: start;
    word-spacing: -2px;
    line-height: 1.4;
    margin: 0;
    margin-left: calc(var(--gap-size) * 2);
    color: var(--color-text);
    transition: color 0.3s ease;
}

.project-card:hover #project-about {
    color: var(--color-highlight);
}

.language-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: calc(var(--gap-size) / 4);
    color: var(--color-highlight);
    transition: color 0.3s ease;
}

.project-card:hover .language-container {
    color: var(--color-primary);
}

.project-card.no-hover:hover .language-container {
    color: var(--color-secondary);
}

.languages-list {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap-size) / 4);
}

#project-language {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 2px 4px;
    color: var(--color-bg);
    border-radius: 2px;
}