#link-to-project {
    text-decoration: none;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: calc(var(--gap-size) * 2);
    min-height: 280px;
    padding: var(--gap-size);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: border .3s ease;
}

.project-card:hover {
    border: 1px solid var(--color-primary);
}

.project-card.no-hover:hover {
    border: 1px solid var(--color-border);
    cursor: default;
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex: 1;
}

.project-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: calc(var(--gap-size) / 4);
    line-height: 1.2;
    color: var(--color-primary);
}

.project-header h2 {
    text-align: start;
    margin: 0;
    border-bottom: 2px solid var(--color-primary);
}

#project-about {
    font-size: 0.9rem;
    text-align: start;
    word-spacing: -4px;
    line-height: 1.2;
    margin: 0 var(--gap-size);
    color: var(--color-text);
}

.language-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: calc(var(--gap-size) / 2);
    color: var(--color-highlight);
}

.languages-list {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap-size) / 4);
}

#project-language {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 2px 4px;
    color: var(--color-bg);
    border-radius: 2px;
}