#link-to-project {
    text-decoration: none;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--gap-size);
    min-height: 400px;
    padding: var(--gap-size);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: border .3s ease, box-shadow .3s ease;
}

.project-card:hover {
    border: 1px solid var(--color-primary);
    box-shadow: 0 4px 16px rgba(206, 66, 87, 0.4);
}

#project-img {
    width: 100%;
    max-height: 280px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform .3s ease;
}

.project-card:hover #project-img {
    transform: scale(1.02);
}

.project-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex: 1;
}

#project-title {
    margin: 0;
    color: var(--color-primary);
    border-bottom: 1px dashed transparent;
    transition: border-bottom .3s ease;
}

.project-description {
    text-align: start;
}

.project-card:hover #project-title {
    border-bottom: 1px dashed var(--color-primary);
}

#project-about {
    font-size: 0.8rem;
    margin-bottom: calc(var(--gap-size) / 2);
    color: var(--color-text);
}

.project-card:hover #project-about {
    color: var(--color-highlight);
}

.language-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: calc(var(--gap-size) / 2);
    color: var(--color-highlight);
}

#project-language {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 2px 4px;
    color: var(--color-bg);
    border-radius: 2px;
}