.home-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-size);
    align-items: start;
    margin-top: 0;
} 

.home-profile {
    position: sticky;
    top: calc(var(--gap-size) + 60px + var(--gap-size)); /* (app padding + nav height + nav margin) */
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-size);
    box-sizing: border-box;
    min-height: 480px;
    padding: var(--gap-size);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: var(--shadow);
} 

#profile-img {
    flex: auto; /* grow to fill remaining vertical space */
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
} 

.profile-links {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: var(--gap-size);
    box-sizing: border-box;
}

.profile-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    transition: transform .15s ease, box-shadow .15s ease;
}

.profile-link:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow);
}

.profile-link svg {
    width: 24px;
    height: 24px;
    color: var(--color-highlight);
    transition: color .3s ease;
}

.profile-link:hover svg {
    color: var(--color-primary);
}

@media (max-width: 1000px) {
    .home-profile {
        display: none;
    }
    .home-container {
        grid-template-columns: 1fr;
    }
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-size);
}

.home-intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: var(--gap-size);
    min-height: 480px;
    box-sizing: border-box;
    margin-bottom: calc(var(--gap-size) * 4);
    padding: var(--gap-size);
}

.intro-container > * {
    text-align: left;
    margin: 0 0 1.5rem;
}

.intro-container h1 {
    color: var(--color-highlight);
}

#intro-name {
    font-size: 2rem;
    color: var(--color-primary);
}

.intro-container p {
    font-size: 1.2rem;
}

.arrow-link {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--color-primary);
    cursor: pointer;
}

.arrow-link #arrow {
    display: inline-block;
    transition: transform .15s ease;
}

.arrow-link:hover #arrow {
    transform: translateX(6px);
}

.home-projects {
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
    width: 100%;
    margin-bottom: calc(var(--gap-size) * 4);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dotted var(--color-border);
}

#projects-header {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--color-highlight);
}

#projects-header h2 {
    margin: 0 4px;
}

#projects-header span {
    letter-spacing: 2px;
    color: var(--color-primary);    
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-size);
}

@media (max-width: 800px) {
    .projects {
        grid-template-columns: 1fr;
    }
}

.home-extra {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-size);
    width: 100%;
}

.home-extra > * {
    min-height: 280px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: var(--shadow);
} 

@media (max-width: 600px) {
    .home-extra {
        grid-template-columns: 1fr;
    }
}