.home-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-size);
    align-items: start;
    margin-top: 0;
}

.home-profile {
    position: sticky;
    top: calc(var(--gap-size) + 60px + var(--gap-size)); /* (app padding + nav height + nav margin) */
    z-index: 10;
    height: 480px;
    border: 1px solid gray;
    border-radius: 4px;
}

@media (max-width: 1000px) {
    .home-profile {
        display: none;
    }
    .home-container {
        grid-template-columns: 1fr;
    }
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-size);
    padding-right: 2px;
}

#intro-paragraph {
    width: 100%;
    min-height: 360px;
    border: 1px solid gray;
    border-radius: 4px;
}

.home-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-size);
    width: 100%;
}

.home-projects > * {
    min-height: 360px;
    border: 1px solid gray;
    border-radius: 4px;
}

@media (max-width: 800px) {
    .home-projects {
        grid-template-columns: 1fr;
    }
}

.home-extra {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-size);
    width: 100%;
}

.home-extra > * {
    min-height: 280px;
    border: 1px solid gray;
    border-radius: 4px;
}

@media (max-width: 600px) {
    .home-extra {
        grid-template-columns: 1fr;
    }
}