.home-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-size);
    align-items: start;
    margin-top: 0;
} 

@media (max-width: 1000px) {
    .home-container {
        grid-template-columns: 1fr;
    }
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--gap-size) * 4);
}

.home-intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: var(--gap-size);
    min-height: 480px;
    box-sizing: border-box;
    padding: var(--gap-size);
}

.intro-container > * {
    text-align: left;
    margin: 0;
}

.intro-container h1 {
    line-height: 1;
    margin-bottom: var(--gap-size);
    color: var(--color-highlight);
}

#intro-name {
    font-size: 2rem;
    color: var(--color-primary);
}

.intro-container p {
    font-size: 1.2rem;
}

.arrow-link {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--color-primary);
    cursor: pointer;
}

.arrow-link #arrow {
    display: inline-block;
    transition: transform .15s ease;
}

.arrow-link:hover #arrow {
    transform: translateX(6px);
}

.home-projects {
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    line-height: 1;
    padding-bottom: calc(var(--gap-size) / 4);
    border-bottom: 2px dotted var(--color-border);
}

#projects-header {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--color-highlight);
}

#projects-header h2 {
    margin: 0 4px;
}

#projects-header span {
    letter-spacing: 2px;
    color: var(--color-primary);    
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-size);
}

.home-projects-error {
    place-items: center;
}

.home-projects-error p {
    max-width: 280px;
    padding: var(--gap-size);
    color: var(--color-highlight);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    background-color: rgba(206, 66, 87, 0.2);
}

@media (max-width: 800px) {
    .projects {
        grid-template-columns: 1fr;
    }
}

.home-extra {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-size);
    width: 100%;
}

.home-extra > * {
    min-height: 280px;
    place-content: end;
    color: var(--color-highlight);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: var(--shadow);
} 

@media (max-width: 600px) {
    .home-extra {
        grid-template-columns: 1fr;
    }
}