.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.home-profile {
    position: sticky;
    min-width: 400px;
    height: 480px;
    border: 1px solid gray;
    border-radius: 4px;
}

@media (max-width: 1000px) {
    .home-profile {
        display: none;
    }
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
}

#intro-paragraph {
    width: 100%;
    height: 360px;
    border: 1px solid gray;
    border-radius: 4px;
}

.home-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 100%;
}

.home-projects > * {
    height: 440px;
    border: 1px solid gray;
    border-radius: 4px;
}

@media (max-width: 800px) {
    .home-projects {
        grid-template-columns: 1fr;
    }
}

.home-extra {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    width: 100%;
}

.home-extra > * {
    height: 280px;
    border: 1px solid gray;
    border-radius: 4px;
}

@media (max-width: 600px) {
    .home-extra {
        grid-template-columns: 1fr;
    }
}