.home-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-size);
    align-items: start;
    margin-top: 0;
}

.home-profile {
    position: sticky;
    top: calc(var(--gap-size) + 60px + var(--gap-size)); /* (app padding + nav height + nav margin) */
    z-index: 10;
    min-height: 480px;
    padding: var(--gap-size);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

#profile-img {
    width: 100%;
    min-height: 480px;
    object-fit: cover;
    border-radius: 4px;
}

@media (max-width: 1000px) {
    .home-profile {
        display: none;
    }
    .home-container {
        grid-template-columns: 1fr;
    }
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-size);
}

.home-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 360px;
    box-sizing: border-box;
    margin-bottom: var(--gap-size);
    padding: var(--gap-size);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.intro-container > * {
    text-align: left;
    margin: 0 0 1.5rem;
}

.intro-container h1 {
    color: var(--color-highlight);
}

#intro-name {
    font-size: 2rem;
}

.intro-container p {
    font-size: 1.2rem;
}

.home-intro span {
    text-align: right;
    font-size: 0.8rem;
    color: var(--color-primary);
}

#projects-header {
    text-align: start;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-highlight);
}

.home-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-size);
    width: 100%;
}

.home-projects > * {
    min-height: 360px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
    .home-projects {
        grid-template-columns: 1fr;
    }
}

.home-extra {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-size);
    width: 100%;
}

.home-extra > * {
    min-height: 280px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
    .home-extra {
        grid-template-columns: 1fr;
    }
}