.nav-container {
    position: sticky;
    top: 0;
    z-index: 20;
    place-content: end;
    min-height: calc(60px + var(--gap-size)); /* nav height + gap size */
    margin-bottom: 160px;
    background-color: transparent;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    box-sizing: border-box;
    padding: var(--gap-size);
    border-radius: 4px;
}

.nav-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-highlight);
}

#prompt-cursor {
    display: inline-block;
    width: 8px;
    height: 1.2rem;
    margin-left: 4px;
    background-color: var(--color-primary);
    animation: blink 1.3s infinite;
}

@keyframes blink {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

.menu-items a{
    margin-left: var(--gap-size);
    cursor: pointer;
    transition: color 0.4s ease;
}

.menu-items a:hover{
    color: var(--color-primary);
}