.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 12px 0;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 4px;
}