.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 4px;
}