.nav-container {
    position: sticky;
    top: 0;
    z-index: 20;
    place-content: end;
    min-height: calc(60px + var(--gap-size)); /* nav height + gap size */
    margin-bottom: 160px;
    background-color: var(--color-bg);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    box-sizing: border-box;
    padding: var(--gap-size);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.45);
}

.navbar > * {
    color: var(--color-highlight);
}