.nav-container {
    position: sticky;
    top: 0;
    z-index: 20;
    place-content: end;
    min-height: calc(60px + var(--gap-size)); /* nav height + gap size */
    margin-bottom: 160px;
    background-color: transparent;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    box-sizing: border-box;
    padding: var(--gap-size);
    border-radius: 4px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--gap-size) / 4);
    text-decoration: none;
    color: var(--color-highlight);
}

#prompt-name {
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-primary);
}

#prompt-tail {
    color: var(--color-highlight);
}

#prompt-cursor {
    display: inline-block;
    width: 8px;
    height: 1.2rem;
    background-color: var(--color-primary);
    animation: blink 1.3s infinite;
}

@keyframes blink {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

.menu-icon {
    display: block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 21;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
}

.hamburger span {
    height: 2px;
    background-color: var(--color-primary);
    transition: all 0.3s ease;
    transform-origin: center;
}

.hamburger.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.menu-items {
    position: absolute;
    top: calc(100% + calc(var(--gap-size) / 2));
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: calc(var(--gap-size) / 2);
    padding: var(--gap-size);
    border-radius: 4px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.menu-items.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu-items a { 
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--color-highlight);
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px dashed transparent;
    transition: color .3s ease, border-bottom .3s ease;
}

.menu-items a:hover {
    color: var(--color-primary);
    border-bottom: 1px dashed var(--color-primary);
}