.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-header-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    margin-bottom: var(--gap-size);
    border-bottom: 1px dashed var(--color-border);
}

.projects-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: calc(var(--gap-size) / 2);
    line-height: 1;
    padding-bottom: calc(var(--gap-size) / 2);
    color: var(--color-highlight);
}

.projects-header svg {
    color: var(--color-primary);
}

.projects-header h1 {
    margin: 0;
}

.projects-header-container p {
    text-align: start;
    margin: 0;
    color: var(--color-highlight);
}

.projects-header-container p span {
    color: var(--color-primary);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-size);
    width: 100%;
    animation: fadeInScale 0.8s ease-out;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.error-message {
    padding: var(--gap-size);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    background-color: rgba(206, 66, 87, 0.2);
}

.error-message p {
    color: var(--color-highlight);
}

@media (max-width: 1200px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
    .projects-header h1 {
        font-size: 1.6rem;
    }
}