.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-header {
    width: 100%;
    text-align: start;
    margin-bottom: calc(var(--gap-size) * 2);
}

.projects-header h1 {
    font-size: 2.5rem;
    margin: 0 0 calc(var(--gap-size) / 4);
    color: var(--color-primary);
}

.projects-header p {
    text-align: start;
    margin: 0;
    color: var(--color-highlight);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-size);
    width: 100%;
}

@media (max-width: 960px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects-header h1 {
        font-size: 2rem;
    }
}

@media (max-width: 680px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

/* Error message */
.error-message {
    padding: var(--gap-size);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    background-color: rgba(206, 66, 87, 0.2);
}

.error-message p {
    color: var(--color-highlight);
}