footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    font-size: 0.9rem;
    margin-top: 160px;
    box-sizing: border-box;
    padding: var(--gap-size);
    border-radius: 4px;
    color: var(--color-highlight);
    background-color: rgb(18, 18, 18);
}

.footer-link {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-size) / 2);
    color: var(--color-highlight);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: var(--color-primary);
}

.footer-link svg {
    transition: color 0.3s ease;
}