@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');

:root {
  --gap-size: 16px;

  --color-text: #f5ebe0;
  --color-bg: #242424;
  --color-primary: #ce4257;
  --color-secondary: #ff7f51;

  font-family: 'JetBrains Mono', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);
}

body {
  margin: 0;
}