.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-size);
    box-sizing: border-box;
    min-height: 480px;
    padding: var(--gap-size);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: var(--shadow);
} 

.profile-image {
    flex: auto; /* grow to fill remaining vertical space */
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
} 

.profile-links {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: var(--gap-size);
}

.profile-link {
    display: flex;
    color: var(--color-highlight);
    transition: color .3s ease;
}

.profile-link:hover  {
    color: var(--color-primary);
}