.profile-card {
    position: sticky;
    top: calc(var(--gap-size) + 60px + var(--gap-size)); /* (app padding + nav height + nav margin) */
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-size);
    box-sizing: border-box;
    min-height: 480px;
    padding: var(--gap-size);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: var(--shadow);
} 

.profile-image {
    flex: auto; /* grow to fill remaining vertical space */
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
} 

.profile-links {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: calc(var(--gap-size) / 2);
    box-sizing: border-box;
}

.profile-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding:  calc(var(--gap-size) / 2);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    transition: transform .15s ease, box-shadow .15s ease;
}

.profile-link:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow);
}

.profile-link svg {
    color: var(--color-highlight);
    transition: color .3s ease;
}

.profile-link:hover svg {
    color: var(--color-primary);
}

@media (max-width: 1200px) {
    .profile-card {
        display: none;
    }
}
